*
{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body
{
    margin: 0;
    font-family: "Montserrat";
}
/*---------GENERAL STYLE-------*/
:root
{
    --dark: #363d43;
    --primary: #007bff;
    --secondary: #5a6670;
    --hover: #126ccc;
    --radius: 6px;
}
a
{
    color: var(--primary);
    text-decoration: none;
}
a:hover
{
    color: var(--hover);
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
}
h1{font-size: 2.5em;}
h2{font-size: 2.2em;}
h3{font-size: 1.8em;}
h4{font-size: 1.5em;}
h5{font-size: 1.2em;}
h6{font-size: 1em;}

button
{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: var(--radius);
}
.btn-primary
{
    background-color: var(--primary);
    color: white;
}
.btn-primary:hover
{
    background-color: var(--hover);
}
.btn-secondary
{
    background-color: var(--secondary);
    color: white;
}
.btn-secondary:hover
{
    background-color: var(--dark);
}
.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*------Individual Style---------*/


/*---------HEADER-TOP----------*/
header
{
    background-color: var(--dark);
    color: white;
    padding: 20px 0;
}
.header-top
{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top .logo
{
    font-size: 1.2em;
}
.header-top .Menu a
{
    color: white;
    font-weight: 400;
    margin-right: 10px;
    font-size: 1.2em;
}

/*------------WELCOME------------*/
.Welcome
{
    text-align: center;
    height: 40vh;
    margin-bottom: 100px;
}
.subText
{
    width: 400px;
    margin: 40px auto 30px auto;
}
/*----------CONTENT----------*/
.content
{
    background-color: rgb(240, 245, 250);
    padding-top: 50px;
}
.content .card
{
    width: 280px;
    border-radius: var(--radius);
    border: 1px solid #e1e7f0;
    box-shadow: 0px 1px 10px -1px rgb(28 33 38 / 16%);
    margin-bottom: 40px;
}
.card .title
{ 
    padding: 30px;
    height: 180px;
    background-color: var(--dark);
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.card .info
{
    padding: 20px;
    height: 120px;
    overflow: hidden;
    background-color: white;
    margin: 0;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

/*------- RESPONSIVE -------- */

@media (max-width: 1024px)
{
    .wrapper
    {
        max-width: 740px;
    }
}

@media (max-width: 768px)
{
    .wrapper
    {
        max-width: 460px;
    }
}

@media (max-width: 480px)
{
    .wrapper
    {
        max-width: 100%;
    }
}

