*
{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    margin: 0;
    font-family: 'Montserrat';
    height: 100vh;
}
.wrapper
{
    margin: 0 auto;
    width: 1200px;
    margin-top: 40px;
}
#app
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#inputs
{
    width: 200px;
    display: flex;
    flex-direction: column;
}
#inputs input
{
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
}
#inputs button
{
    padding: 12px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #aaa;
    margin-top: 10px;
    transition: hover 0.3s;
    background-color: white;
}
#inputs button:hover
{
    background-color: black;
    color: white;
}
.ads
{
    width: 900px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}