*
{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    margin: 0;
    font-family: 'Montserrat';
    height: 100vh;
}
.wrapper
{
    margin: 0 auto;
    width: 1200px;
    margin-top: 40px;
}
#app
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#inputs
{
    width: 200px;
    display: flex;
    flex-direction: column;
}
#inputs input
{
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
}
#inputs button
{
    padding: 12px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #aaa;
    margin-top: 10px;
    transition: hover 0.3s;
    background-color: white;
}
#inputs button:hover
{
    background-color: black;
    color: white;
}
.ads
{
    width: 900px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 10px;
    background-color: teal;
}
.ads .card
{
    width: 240px;
    border: 1px solid #aaa;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.card>img
{
    width: 100%;
}
.card .info
{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}
.info .titel
{
    font-weight: bold;
    font-size: 1.2em;
}
.info .subtitel
{
    color: rgb(94, 94, 94);
    margin-bottom: 10px;
}

.feature>div:first-child
{
    margin-bottom: 8px;
}
.feature span
{
    background-color: rgb(231, 231, 231);
    color:rgb(73, 73, 73);
    font-size: 0.9em;
    border-radius: 3px;
    padding: 4px 8px;
    display: inline-block;
    margin: 0 5px;
}
