@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: "Montserrat";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(88,101,185);
    background: linear-gradient(90deg, rgba(88,101,185,1) 0%, rgba(28,145,226,1) 26%, rgba(34,220,253,1) 66%);
}
:root
{
    --primaryBtn: #1ca3ea;
    --btnHover: #3d95c4;
    --text: #37424c;
    --placeholder: #8fa4b7;
    --radius: 8px;
}
.flex
{
    display: flex;
    flex-direction: column;
}
.margin
{
    margin-bottom: 12px;
}
#app
{
    width: 500px;
    height: 95%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.09);
    padding: 70px 50px;
}
.inputBox
{
    display: flex;
    border-bottom: 1px solid #aaa;
    padding-bottom: 8px;
}
.inputBox input
{
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
}
#loginBtn
{
    padding: 10px 0;
    background-color: var(--primaryBtn);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1.05em;
    margin-top: 20px;
}
#loginBtn:hover
{
    background-color: var(--btnHover)
}
.newAccount
{
    text-align: center;
    margin-top: 30px;
}
.newAccount a
{
    color: var(--primaryBtn);
}
.newAccount a:hover
{
    text-decoration: none;
}