*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
}
#app
{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 15px;
}
#app input
{
    padding: 12px 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: none;
    margin-bottom: 15px;
}
#app button
{
    border-radius: 6px;
    padding: 12px 15px;
    margin-top: 15px;
    color: white;
    background-color: rgb(42, 127, 255);
    border: none;
    font-weight: bold;
    cursor: pointer;
}
